$body-bg: rgb(253, 47, 47);
$body-color: rgb(17, 17, 17);

.navbar-nav {
  list-style: none;
}

.navbar-collapse {
  a {
    text-decoration: none;
  }
  li.nav-item.nav-link.active {
    color: #656565;

    &:hover {
      color: #fff;
    }
  }
}
.card-img-top {
  width: 25 !important; //_accordion.scss:102 nadpisuje mi tę wartość na 100% co rozciąga obrazki na kartach. Dlaczego custom jest mniej ważniejszy niż wewnętrzne pliki bootstrapa??
}
