@use "~bootstrap/scss/bootstrap" as *;

//my custom variables:
$lightBeer: rgb(209, 179, 113);
$beer: rgb(220, 191, 133);
$darkBeer: rgb(68, 56, 53);
$lightGrey: rgb(218, 218, 218);
$grey: rgb(179, 179, 179);
$disabledColor: rgb(100, 100, 100);

//Bootstrap variables ovverride:
$dark: rgb(40, 37, 32);
$primary: $beer;
$blue: $beer;

$mainBorderRadius: 0.7rem;

body {
  background-color: $dark;
}

body a {
  color: $beer;
  text-decoration: none;
}
body a:hover,
.card:hover {
  color: $lightBeer;
}

.bg-dark {
  background-color: $dark !important;
}

:focus:not(nav div a:focus) {
  background-color: $darkBeer;
  border-color: $lightGrey;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px $darkBeer;
  outline: none;
}

.bg-dark h1,
.bg-dark h3 {
  color: $grey;
}

.navbar-nav {
  list-style: none;
}

.navbar {
  a {
    text-decoration: none;
  }
}

#navbarSupportedContent ul li a {
  margin-left: 0.7rem;
  margin-right: 0.7rem;
}

.navbar-collapse {
  flex-grow: 0;
}

.navbar-dark .navbar-brand {
  color: $beer;
}

body .navbar-dark .navbar-nav .nav-link.active,
body .navbar-dark .navbar-nav .show > .nav-link {
  color: #cccccc;
}

body .navbar-dark .navbar-nav .nav-link.active:hover,
body .navbar-dark .navbar-nav .show > .nav-link:hover,
.navbar-dark .navbar-brand:hover {
  color: $lightBeer;
}

//Home//
.CenterImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  height: auto;
}

.form-floating > label,
.form-label {
  margin-left: 0.5rem;
}

.form-control,
.form-select {
  border-radius: $mainBorderRadius;
  color: $lightGrey;
}
.row input,
.row textarea,
.row select,
.form-control label,
.pagination .page-item,
.card {
  background-color: $dark;
  //  color: $dark;
  //  border-color: $beer;
}
.form-floating input {
  color: $lightGrey;
}
.form-label {
  color: $lightGrey;
}
.form-floating > label {
  color: $lightGrey;
}
.form-control:focus {
  color: $lightGrey;
}
.row .form-floating > .form-control:focus ~ label,
.row .form-floating > .form-control:not(:placeholder-shown) ~ label,
.row .form-floating > .form-select ~ label {
  opacity: 1;
}
.btn {
  border-radius: $mainBorderRadius;
}

.btn-primary {
  border-color: $beer;
}
.btn-primary:hover {
  background-color: $beer;
  border-color: $beer;
}

.btn-check:checked + .btn-primary,
.btn-check:active + .btn-primary,
.btn-primary:active,
.btn-primary.active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: $beer;
}

.pagination .page-link,
.page-item .disabled {
  color: $lightGrey;
  background-color: $dark;
}
.page-item.active .page-link {
  z-index: 3;
  color: $dark;
  background-color: $beer;
  border-color: $lightGrey;
}
.page-item.disabled .page-link {
  color: $disabledColor;
  background-color: $dark;
}

.svg path {
  fill: $lightGrey;
}

.svg-active path {
  fill: $beer;
}

.card {
  flex-direction: row-reverse;
  align-items: flex-start;
  padding: 1rem;
  background-color: $lightGrey;
  color: $dark;
  border-radius: $mainBorderRadius;
}
.card:hover {
  color: $darkBeer;
}
.card-body {
  padding: 0;
}

.card-img-top {
  width: 100px;
  height: 15vw;
  object-fit: contain;
  margin-left: 0.6em;
}

.card-title {
  min-height: 2.5em;
}

@for $i from 1 through 10 {
  .crop-text-#{$i} {
    -webkit-line-clamp: $i;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }
}

#multiRangeSliderLabel {
  padding: 0;
}

//multi-range-slider is component imported via npm, and has it's own css. For some reason, customisation of this cmponent below, works only on localhost, not on site deplowyed on web. Thats a reason od temporary !important flags

.multi-range-slider {
  box-shadow: none !important;
  border: none !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important;

  .bar-inner {
    background-color: $lightBeer !important;
    box-shadow: inset 0px 0px 5px $beer !important;
  }

  .thumb .max-value ,
  .thumb .min-value {
    background-color: $beer !important;
  }
}
